div {
  display: block;
}
span {
  font-family: "Roboto",sans-serif;
}
.text-center {
  text-align: center;
}
.banner {
  background:#0f4bcb;
  color:white;
  display:inline-block;
  height:170px;
  width:140px;
  line-height:1.2;
  margin:0 0 40px;
  padding:8px;
  position:relative;
  text-align:center;
  vertical-align:top;
  white-space:normal;
}
.banner img {
  margin-bottom:10px;
  margin-top:10px;
  width:75px;
  max-height:45px
}
.banner .award-name {
  display:table;
  width:100%;
  height:35px;
  font-weight:bolder;
  margin:0;
  margin-top:3px;
  margin-bottom:3px;
  font-size: 85%;
}
.banner .award-event {
  display:table;
  text-transform:uppercase;
  height:50px;
  width:100%;
  font-size: 85%;
}
.banner .award-name span {
  display:table-cell;
  vertical-align:middle;
  font-style:italic;
  text-transform:uppercase;
}
.banner .award-event span {
  display:table-cell;
  vertical-align:middle;
  max-width:124px;
  text-overflow:ellipsis;
  overflow:hidden;
}
.banner:after {
  content:'';
  position:absolute;
  display:block;
  border:78px solid #0f4bcb;
  border-top-width:5px;
  border-bottom:20px transparent solid;
  top:100%;
  left:0;
}
.banner,.banner:after {
  -webkit-filter:drop-shadow(0 5px 5px rgba(0,0,0,0.1));
  filter:drop-shadow(0 5px 5px rgba(0,0,0,0.1));
}
