body {
  margin: 46.8px 0 0 0;
}

.fixedbar {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right 0;
  width: 100%;
  z-index: 9998;
}

/* This is the sidenav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 9999;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: #808080;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.pancakes {
  font-size: 30px;
  cursor: pointer;
  color: white;
  padding-left: 15px;
  float: left;
}

/* End of sidenav */

.navbarthings {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  float: left;
}

.logo {
  color: white;
  text-align: center;
  font-family: impact;
  font-size: 30px;
  margin: 5px 0 5px 25px;
  text-decoration: none;
}

h3 {
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

.logo:hover {
  color: lightgrey;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

p {
  font-family: sans-serif;
  margin-left: 8px;
}

footer {
  text-align: center;
  color: lightgrey;
}

.image {
  width: 100%;
  max-height: 686px;
}

.infiniterecharge {
  max-width:35%;
  margin:auto;
}

.imagediv {
  max-width:100%;
  text-align:center;
}

/* Start of the slideshow */

* {box-sizing:border-box}

.container {
  background-color: #2b2b2b;
  display: block;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  display: block;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  font-family: sans-serif;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.white {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* End of the slideshow */
