body {
  margin: 44.8px 0 0 0;
}

.fixedbar {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right 0;
  width: 100%;
  z-index: 9998;
}

/* This is the sidenav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 9999;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: #808080;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.pancakes {
  font-size: 30px;
  cursor: pointer;
  color: white;
  padding-left: 15px;
  float: left;
}

/* End of sidenav */

.navbarthings {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  float: left;
}

.hide {
  display: none;
}

.navbar-user {
  float:right;
  margin:8px 15px 0 0;
}

.login_pic-nav {
  float: right;
  margin: 8px 15px 0 0;
}

.login-nav {
  float: right;
  margin: 12px 15px 0 0;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
}

.logo {
  margin: 11px 0 5px 18px;
  width: 91.5px;
  height:24px;
}

h3 {
  font-family: sans-serif;
  font-size: 25px;
  text-align: center;
}

.logo:hover {
  color: lightgrey;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

p {
  font-family: sans-serif;
  margin-left: 8px;
}

footer {
  text-align: center;
  color: lightgrey;
}

.image {
  width: 100%;
  max-height: 686px;
}

.infiniterecharge {
  max-width:35%;
  margin:auto;
}

.imagediv {
  max-width:100%;
  text-align:center;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
}

/* Login styling */

.outside_div {
  margin-top: 88.8px;
  width: 100%;
  text-align: center;
}

.login-box {
  display: inline-block;
  margin: auto 0;
  padding: 30px 100px;
  border-radius: 6px;
  background-color: #f2f2f2;
}

.P-E_inputs {
  display: block;
  margin: auto;
}

.login-p {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}

.login-hdr {
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
}

input[type=email], input[type=password], [type=text], select {
  width: 100%;
  padding: 12px 50px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.ok {
  height: 20px;
  width: 20px;
}

.x-mark {
  height: 20px;
  width: 20px;
}

.bruh {
  display: block;
  font-family: sans-serif;
  font-size: 25px;
  margin: 0 auto;
}

.verifyEmail {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.user-box {
  display: inline-block;
  margin: auto 0;
  padding: 30px 70px;
  border-radius: 6px;
  background-color: #f2f2f2;
}

input[type=custom] {
  width: 100%;
  padding: 15px 5px;
  margin: 8px 0px;
  font-size: 25px;
  display: inline-block;
  border: 0px solid;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}

.inputs {
  width: 100%;
  padding: 12px 50px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.mybutton {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 18px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form .error {
  color: #ff0000;
  font-family: sans-serif;
}
