body {
  margin: 44.8px 0 0 0;
}

.fixedbar {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9998;
}

/* This is the sidenav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 9999;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: #808080;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.swat-slideshow {
  float:left;
  display:inline;
  width:100%;
  background-color: #000;
  color:#fff;
}

.swat-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.swat-slide-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.swat-slide-image-caption{
  font-size: .75em
}

.frontpageinfo {
  clear: left;
}

.slides {
  float:middle;
  align-self:center;
  max-width:100%;
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.pancakes {
  font-size: 30px;
  cursor: pointer;
  color: white;
  padding-left: 15px;
  float: left;
}

/* End of sidenav */

.navbarthings {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
  float: left;
}

.hide {
  display: none;
}

.navbar-user {
  float: right;
  margin: 8px 15px 0 0;
}

.login_pic-nav {
  float: right;
  margin: 8px 15px 0 0;
}

.login-nav {
  float: right;
  margin: 12px 15px 0 0;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
}

.logo {
  margin: 11px 0 5px 18px;
  width: 91.5px;
  height: 24px;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.clickable {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clickable:hover {
  box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: invert(30%);
  cursor: pointer;
}

.clickable:active {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: invert(50%);
  cursor: pointer;
}

h3 {
  font-family: "Impact", sans-serif;
  font-size: 1.5em;
  text-align: center;
}

h4 {
  font-family: "Impact", sans-serif;
  font-size: 1em;
  text-align: center;
}

.logo:hover {
  color: lightgrey;
}

h1 {
  font-family: "Impact", sans-serif;
  font-size: 3em;
  text-align: center;
}

h2 {
  font-family: "Impact", sans-serif;
  font-size: 2em;
  text-align: center;
}

p {
  font-family: sans-serif;
  margin-left: 8px;
}

footer {
  text-align: center;
  color: lightgrey;
}

.image {
  width: 100%;
  max-height: 686px;
}

.imagediv {
  max-width: 100%;
  text-align: center;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 15%;
  left: 15%;
  width: 70%;
  height: 70%;
}

.embeds {
  overflow: hidden;
  width: 100%;
  text-align: center !important;
  margin: 50px auto;
}

.pdfembed {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  text-align: center !important;
  margin: 50px auto;
}


.embed {
  width: fit-content;
  display: inline-block;
}

#face {
  margin-right: 50px;
}

#twit {
  margin-left: 50px;
}

/* Login styling */

.outside_div {
  margin-top: 88.8px;
  width: 100%;
  text-align: center;
}

.login-box {
  display: inline-block;
  margin: auto 0;
  padding: 30px 100px;
  border-radius: 6px;
  background-color: #f2f2f2;
}

.P-E_inputs {
  display: block;
  margin: auto;
}

.login-p {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
}

.login-hdr {
  font-family: sans-serif;
  font-size: 24px;
  text-align: center;
}

input[type=email],
input[type=password],
[type=text],
select {
  width: 100%;
  padding: 12px 50px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.ok {
  height: 20px;
  width: 20px;
}

.x-mark {
  height: 20px;
  width: 20px;
}

.bruh {
  display: block;
  font-family: sans-serif;
  font-size: 25px;
  margin: 0 auto;
}

.verifyEmail {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

.user-box {
  display: inline-block;
  margin: auto 0;
  padding: 30px 70px;
  border-radius: 6px;
  background-color: #f2f2f2;
}

input[type=custom] {
  width: 100%;
  padding: 15px 5px;
  margin: 8px 0px;
  font-size: 25px;
  display: inline-block;
  border: 0px solid;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-family: sans-serif;
}

.inputs {
  width: 100%;
  padding: 12px 50px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.mybutton {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 18px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.donatebutton {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 18px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-section {
  width: 100%;
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  align-items: center;
}

.register-button {
  width: 300px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .register-button {
    width: 500px;
  }
}

.reg-second {
  background-color: #FFAE00;
}

.reg-third {
  background-color: #1310CE;
}

.register-button-text {
  font-size: 1.25em;
  margin: 14px;
}


.sponsorbutton {
  width: 100%;
  background-color: #ffae00;
  color: white;
  padding: 18px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Demobutton {
  width: 100%;
  background-color: #006602;
  color: white;
  padding: 18px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form .error {
  color: #ff0000;
  font-family: sans-serif;
}

.youtube-container {
  overflow: hidden;
  width: 100%;
}

.cont-left {
  float: left;
  width: 50%;
  margin-right: -3px;
  margin-left: 3px;
  padding-bottom: 500em;
  margin-bottom: -500em;
}

.cont-right {
  float: left;
  width: 50%;
  margin-right: -1px;
  padding-bottom: 500em;
  margin-bottom: -500em;
}