label.upload-group {
  width: 100px;
  height: 40px;
  color: white;
  padding: 5 5 5 5;
  text-align: center;
  background-color: #4CAF50;
  cursor: pointer;
}

button.uploadbutton {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 18px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

div.uploadfile {
  border-radius: 5px;
  background-color: #4CAF50;
  width: 40%;
  border: .1px #4CAF50;
  padding: .1px;
  margin: 0 auto;
}

input#file {
  width: 0.1px;
  height: 0.1px;
  position: absolute;
  z-index: -1;
}

h4 {
  font-weight: 100;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
